.bg-color {
  background: #05b0bd;
}
.bg-color2 {
  background: #191d3d;
}
.color {
  color: #05b0bd;
}
.color2 {
  color: #191d3d;
}
a:hover,
a:focus {
  color: #05b0bd;
}
.top-nav a:hover {
  color: #05b0bd;
}
.language-link:hover {
  color: #05b0bd;
}
.currency-link:hover {
  color: #05b0bd;
}
.mini-cart-icon {
  color: #05b0bd;
}
.mini-cart-title > a:hover {
  color: #05b0bd;
}
.mini-cart-price {
  color: #05b0bd;
}
.mini-cart-button a:hover {
  background: #05b0bd none repeat scroll 0 0;
}
.main-nav > ul > li:hover > a {
  color: #05b0bd;
}
.sub-menu > li:hover > a {
  color: #05b0bd;
}
.search-form::after {
  color: #05b0bd;
}
.sidebar-mega-menu a:hover {
  color: #05b0bd;
}
.product-title > a:hover {
  color: #05b0bd;
}
.product-price > strong {
  color: #05b0bd;
}
.mega-menu-v2 .sidebar-mega-menu a:hover {
  color: #05b0bd;
}
.mega-menu-v2 .shopnow:hover {
  color: #05b0bd;
}
.directnav-slider:hover .owl-theme .owl-controls .owl-buttons div:hover {
  background: #05b0bd;
}
.banner-info-inner > label {
  color: #05b0bd;
}
.item-special-adv.style1 {
  background: #05b0bd none repeat scroll 0 0;
}
.item-special-adv.style1::before {
  background: rgba(5, 176, 189, 0.5);
}
.item-special-adv.style1::after {
  background: rgba(5, 176, 189, 0.5);
}
.item-category-home:hover h3 a {
  color: #05b0bd;
}
.title-tab-home > ul > li.active a,
.title-tab-home > ul > li:hover > a {
  background: #05b0bd none repeat scroll 0 0;
  border: 1px solid #05b0bd;
}
.item-home-bestsell .product-extra-link a:hover {
  color: #05b0bd;
}
.item-home-bestsell .product-extra-link a.addcart-link {
  color: #05b0bd;
}
.deal-week-product .product-title a:hover {
  color: #05b0bd;
}
.product-more-link a:hover {
  background-color: #05b0bd;
}
.content-deal-countdown .time_circles > div::after {
  border: 2px solid #05b0bd;
}
.staff-info h3 a {
  color: #05b0bd;
}
.news-info li a.more:hover {
  color: #05b0bd;
  border-color: #05b0bd;
}
.news-info h3 a:hover {
  color: #05b0bd;
}
.list-download a:hover {
  color: #05b0bd;
}
.review-content > h3 a {
  color: #05b0bd;
}
.review-content > p::before {
  color: #05b0bd;
}
.review-content > p::after {
  color: #05b0bd;
}
.customer-thumb > a.active {
  border-color: #05b0bd;
  box-shadow: 0 0 0 2px #05b0bd;
}
.customer-thumb > a.active::before {
  background: #05b0bd none repeat scroll 0 0;
}
.footer-box .readmore {
  color: #05b0bd;
}
.social-footer > a:hover {
  color: #fff;
  background: #05b0bd;
  border-color: #05b0bd;
}
.copyright > a {
  color: #05b0bd;
}
.footer-menu a:hover {
  color: #05b0bd;
}
.newsletter-form input[type="submit"]:hover {
  background-color: #05b0bd;
}
.footer-email > a:hover {
  color: #05b0bd;
}
.footer-box a:hover {
  color: #05b0bd;
}
.title-footer span {
  color: #05b0bd;
}
.widget.widget-shop-cat > ul > li > ul > li > a:hover {
  color: #05b0bd;
}
.attr-filter.attr-filter-price input {
  color: #05b0bd;
}
.attr-filter.attr-filter-size li.active a {
  background: #05b0bd;
}
.grid-view-2-col .quick-link:hover {
  background-color: #05b0bd;
}
.widget.widget-manufacturer a:hover {
  color: #05b0bd;
}
.wd-adv-info h3 a:hover {
  color: #05b0bd;
}
.wd-adv-info .shopnow:hover {
  background-color: #05b0bd;
}
.product-extra-link.style2 a:hover {
  color: #05b0bd;
}
.product-extra-link.style2 a.addcart-link:hover {
  background: #05b0bd;
}
.list-view .quick-link:hover {
  background: #05b0bd;
}
.detail-gallery .bx-controls-direction a:hover {
  color: #05b0bd;
}
.share-social-product:hover .share-link {
  color: #05b0bd;
}
.product-detail-extra-link a:hover {
  color: #05b0bd;
}
.title-tab-detail li.active a,
.title-tab-detail li:hover a {
  color: #05b0bd;
}
.latest-product-detail .owl-theme .owl-controls .owl-buttons div:hover {
  color: #05b0bd;
}
.gallery-control a:hover {
  background: #05b0bd;
}
.title-tab-detail.style4 li.active a {
  border-color: #05b0bd;
}
.post-title > a:hover {
  color: #05b0bd;
}
.readmore-comment-post a:hover {
  color: #05b0bd;
}
.widget-blog-cat ul li a:hover {
  color: #05b0bd;
}
.post-format-date .post-date {
  background: #05b0bd none repeat scroll 0 0;
}
.post-info-total > li:last-child a {
  color: #05b0bd;
}
.post-info-total > li a:hover {
  color: #05b0bd;
}
.post-medium-item .post-info-total > li a:hover,
.post-medium-item .post-info-total > li:last-child a {
  color: #05b0bd;
}
.post-medium-item .post-readmore:hover {
  color: #05b0bd;
}
.main-content-single .block-quote::before {
  background-color: #05b0bd;
}
.unorder-list li a:hover {
  color: #05b0bd;
}
.single-post-tabs > a:hover {
  color: #05b0bd;
}
.single-post-social > a:hover {
  background: #05b0bd;
  border-color: #05b0bd;
}
.post-author-info li a:hover {
  color: #05b0bd;
}
.single-related-post-slider .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #05b0bd;
}
.header-post-comment .leave-comment-link:hover {
  color: #05b0bd;
}
.header-post-comment .leave-comment-link:hover::before {
  border-color: #05b0bd;
}
.reply-comment-link:hover {
  color: #05b0bd;
}
.post-date-author > li a:hover {
  color: #05b0bd;
}
.form-contact input[type="submit"]:hover {
  background: #05b0bd none repeat scroll 0 0;
}
.single-post-control a:hover {
  background-color: #05b0bd;
}
.shop-cat-info .shopnow:hover {
  background: #05b0bd;
}
.shop-cat-info > h3 a:hover {
  color: #05b0bd;
}
.price-cart-top {
  color: #05b0bd;
}
.btn-eye {
  background: #05b0bd none repeat scroll 0 0;
}
.banner-home2 .owl-theme .owl-controls .owl-buttons div:hover {
  background: #05b0bd none repeat scroll 0 0;
}
.cat-mask-icon {
  background: #05b0bd none repeat scroll 0 0;
}
.bestsell-tab2 li.active a {
  color: #05b0bd;
}
.bestsale-filter .toggle-filter:hover {
  color: #05b0bd;
}
.item-box-filter.box-tags-filter a:hover {
  background: #05b0bd;
}
.item-box-filter a:hover {
  color: #05b0bd;
}
.item-full-collect:hover .product-title a {
  color: #05b0bd;
}
.nec-why-ifo .btn-eye:hover {
  background: #05b0bd;
}
.title-deal-day {
  background: #05b0bd none repeat scroll 0 0;
}
.product-saleoff > strong {
  color: #05b0bd;
}
.product-saleoff > strong {
  color: #05b0bd;
}
.dealday-countdown .time_circles > div {
  background: #05b0bd none repeat scroll 0 0;
}
.inner-header-contact3 .language-link:hover {
  color: #05b0bd;
}
.inner-header-contact3 .currency-link:hover {
  color: #05b0bd;
}
.contact-box > p span.lnr {
  color: #05b0bd;
}
.adv-info3 .btn-eye.black-eye:hover {
  background: #05b0bd;
}
.adv-info3 .readmore:hover {
  color: #05b0bd;
}
.adv-info3 .btn-eye:hover {
  background: #05b0bd;
}
.loadmore-item > a:hover {
  color: #05b0bd;
}
.item-from-blog3 .post-title > a:hover {
  color: #05b0bd;
}
.list-instagram a::after {
  background: rgba(5, 176, 189, 0.5);
}
.footer.footer3 .footer-box .readmore {
  color: #05b0bd;
}
.footer.footer3 .footer-box a:hover {
  color: #05b0bd;
}
.footer.footer3 .social-footer > a:hover {
  background: #05b0bd;
}
.footer.footer3 .footer-menu a:hover {
  color: #05b0bd;
}
.footer.footer3 .newsletter-form input[type="submit"]:hover {
  background: #05b0bd;
}
.post-blog-info3 a:hover {
  color: #05b0bd;
}
.mini-cart3 .price-cart-top span {
  color: #05b0bd;
}
.header-intro .lnr {
  color: #05b0bd;
}
.top-info4 li .lnr {
  color: #05b0bd;
}
.main-header4 {
  background: #05b0bd none repeat scroll 0 0;
}
.smart-search {
  background: #05b0bd none repeat scroll 0 0;
}
.content-category-dropdown > ul {
  border: 2px solid #05b0bd;
}
.content-category-dropdown > ul > li.has-cat-mega .cat-mega-menu {
  border: 2px solid #05b0bd;
}
.content-category-dropdown > ul > li.has-cat-mega.active > a::before {
  background: #05b0bd;
}
.category-dropdown-link::before,
.category-dropdown-link::after {
  color: #05b0bd;
}
.mini-cart4 .price-cart-top span {
  color: #05b0bd;
}
.main-nav.main-nav4 > ul > li:hover > a {
  color: #05b0bd;
}
.btn-eye.btn-eye4:hover {
  background: #05b0bd none repeat scroll 0 0;
  border: 1px solid #05b0bd;
}
.content-category-dropdown > ul > li.active > a {
  color: #05b0bd;
}
.adv-slider4 .owl-theme .owl-controls .owl-buttons div:hover {
  background: #05b0bd;
}
.product-item4:hover .product-title a {
  color: #05b0bd;
}
.product-item4 .product-more-link4 a:hover {
  background: #05b0bd;
}
.video-best-info::before {
  background: #05b0bd none repeat scroll 0 0;
}
.bestlase-slider4 .owl-theme .owl-controls .owl-buttons div:hover {
  background: #05b0bd;
}
.tab-cat-header4 li.active a {
  color: #05b0bd;
}
.tab-cat-slider4 .owl-theme .owl-controls .owl-buttons div:hover {
  background: #05b0bd;
}
.top-save-accor h2 span {
  background: #05b0bd none repeat scroll 0 0;
}
.banner-slider5 .owl-theme .owl-controls .owl-page.active span {
  background: #05b0bd;
}
.special-intro-info > h3 {
  color: #05b0bd;
}
.special-intro-info > p::before {
  background: #05b0bd none repeat scroll 0 0;
}
.special-product-info {
  border: 1px solid #05b0bd;
}
.item-special-product .product-title > a {
  color: #05b0bd;
}
.special-product-gallery .gallery-slider::before {
  background: #05b0bd none repeat scroll 0 0;
}
.header-nav6 {
  border-top: 2px solid #05b0bd;
}
.search-form.search-form6 input[type="submit"] {
  background: #05b0bd none repeat scroll 0 0;
}
.header-link6 > a .lnr {
  color: #05b0bd;
}
.main-nav.main-nav6 > ul > li:hover > a::before {
  background: #05b0bd;
}
.main-nav.main-nav6 > ul > li:hover > a {
  color: #05b0bd;
}
.mini-cart6 .mini-cart-link {
  background: #05b0bd none repeat scroll 0 0;
}
.banner-slider6 .flex-direction-nav a:hover {
  color: #05b0bd;
}
.banner-slider6 .banner-control .flexslider .flex-active-slide a::before {
  border: 3px solid #05b0bd;
}
.item-product6 .qickview-link {
  color: #05b0bd;
}
.item-product6:hover .qickview-link:hover {
  background: #05b0bd;
}
.item-product6:hover .product-title a,
.item-product6:hover .product-add-cart .addcart-link {
  color: #05b0bd;
}
.intro-featured6 .btn-eye:hover {
  background: #05b0bd none repeat scroll 0 0;
}
.inner-cat-content .cat-title a:hover {
  color: #05b0bd;
}
.inner-cat-content .product-title a:hover {
  color: #05b0bd;
}
.main-nav.main-nav7 .icon-main-nav7:hover,
.main-nav.main-nav7 .close-main-nav7:hover {
  color: #05b0bd;
}
.main-nav.main-nav7 > ul > li:hover > a {
  color: #05b0bd;
}
.profile-box7 .profile-link {
  color: #05b0bd;
}
.main-nav-hover .icon-menu-hover {
  color: #05b0bd;
}
.box-search-hover .icon-search-hover {
  color: #05b0bd;
}
.btn-eye.btn-black:hover {
  background: #05b0bd;
}
.directnav-slider.banner-slider7 .owl-theme .owl-controls .owl-buttons div:hover {
  color: #05b0bd;
}
.btn-eye.eye-white:hover {
  background: #05b0bd none repeat scroll 0 0;
  border: 1px solid #05b0bd;
}
.item-product7 .qickview-link {
  color: #05b0bd;
}
.blog-info-extra a:hover {
  color: #05b0bd;
}
.blog-info-extra a .lnr {
  color: #05b0bd;
}
.product-slider7 .owl-theme .owl-controls .owl-buttons div:hover {
  background: #05b0bd;
}
.main-nav.main-nav8 > ul > li:hover > a {
  color: #05b0bd;
}
.product-slider8 .owl-theme .owl-controls .owl-buttons div:hover {
  background: #05b0bd;
}
.directnav-slider.latest-slider8 .owl-theme .owl-controls .owl-buttons div:hover {
  background: #05b0bd;
}
.product-tab-title9 > ul li.active a {
  background: #05b0bd none repeat scroll 0 0;
}
.banner-slider9 .owl-controls {
  background: #05b0bd none repeat scroll 0 0;
}
.extra-link10 a:hover {
  border-color: #05b0bd;
}
.load-more10:hover {
  border-color: #05b0bd;
  background: #05b0bd;
  color: #fff;
}
.slider-home11 .owl-theme .owl-controls .owl-buttons div:hover {
  color: #05b0bd;
}
.item-cat-brow:hover .cat-brow-info h3 a {
  color: #05b0bd;
}
.item-product11 .product-extra-link a:hover {
  color: #05b0bd;
}
.item-product11 .product-thumb .btn-eye:hover {
  background: #05b0bd;
}
.from-blog-slider11 .owl-theme .owl-controls .owl-buttons div:hover {
  color: #05b0bd;
}
.item-product-type .quickview-link:hover {
  background: #05b0bd;
}
.main-nav.main-nav12 > ul > li:hover > a {
  color: #05b0bd;
}
.search-form.search-form12::after {
  color: #05b0bd;
}
.inner-banner-info12 > h2 {
  background: #05b0bd none repeat scroll 0 0;
}
.banner-slider12 .owl-theme .owl-controls .owl-page.active span,
.banner-slider12 .owl-theme .owl-controls .owl-page span:hover {
  background: #05b0bd;
}
.item-product11.style2 .product-extra-link a.btn-eye:hover {
  background: #191d3d;
  border-color: #191d3d;
}
.product-tab-title12 a:hover,
.product-tab-title12 li.active a {
  background: #05b0bd;
}
.item-product12 .quickview-link {
  color: #05b0bd;
}
.item-product12 .quickview-link:hover {
  background: #05b0bd;
}
.product-tab-slider12 .owl-theme .owl-controls .owl-buttons div:hover {
  background: #05b0bd;
}
.about-menu a::after {
  background: #05b0bd none repeat scroll 0 0;
}
.about-menu a:hover {
  color: #05b0bd;
}
.item-contact-info .contact-icon:hover::before {
  color: #05b0bd;
}
.item-contact-info .contact-icon:hover i {
  color: #05b0bd;
}
.item-contact-info a:hover {
  color: #05b0bd;
}
.about-full-protec span {
  background: #05b0bd none repeat scroll 0 0;
}
.about-full-protec .new-user-guide:hover {
  color: #05b0bd;
}
.about-review-thumb a:hover {
  border-color: #05b0bd;
}
.contact-form-page .form-contact input[type="submit"]:hover {
  background: #05b0bd none repeat scroll 0 0;
}
.form-my-account input[type="submit"]:hover {
  background: #05b0bd;
}
.form-my-account a:hover {
  color: #05b0bd;
}
.general-setting .btn-setting:hover {
  color: #05b0bd;
}
.layout-setting-box li.active a {
  background: #05b0bd;
}
.search-form.search-form3 {
  background: #05b0bd none repeat scroll 0 0;
}
.main-nav.main-nav3 > ul > li.current-menu-item > a {
  background: #05b0bd none repeat scroll 0 0;
}
.news-info a.readmore:hover {
  color: #05b0bd;
  border-color: #05b0bd;
}
.all-staff {
  background-color: #05b0bd;
}
.list-brand > ul::after {
  background-color: #05b0bd;
}
.item-home-bestsell .product-extra-link a::after {
  background-color: #05b0bd;
}
.list-download a:hover::before {
  background-color: #05b0bd;
  border-color: #05b0bd;
}
.special-product-info .product-extra-link.style2 a.btn-eye:hover {
  background: #05b0bd;
}
.special-product-gallery .gallery-control a::after {
  background: #05b0bd none repeat scroll 0 0;
}
.main-nav.main-nav8 .toggle-mobile-menu::after {
  color: #05b0bd;
}
.item-product8 .product-extra-link > a > span::after {
  border-bottom: 6px solid #05b0bd;
}
.item-product8 .product-extra-link > a > span {
  background: #05b0bd none repeat scroll 0 0;
}
.mini-cart1 .mini-cart-number {
  background: #05b0bd;
}
.inner-banner-info1 > h2 span {
  background: rgba(5, 176, 189, 0.9);
}
.owl-theme .owl-controls .owl-page.active span {
  background: #05b0bd;
}
.btn-eye.bg-white::before {
  color: #05b0bd;
}
.btn-eye.bg-white:hover {
  background: #05b0bd;
  border-color: #05b0bd;
  color: #fff;
}
.btn-eye.bg-white:hover::before {
  color: #fff;
}
.title-underline span {
  border-bottom: 1px solid #05b0bd;
}
.banner-adv1 .banner-info p {
  margin: 10px 0 23px;
}
.item-techpro.table::before {
  border: 1px dashed #05b0bd;
}
.item-product10 .product-info::before {
  background: #05b0bd;
}
.mini-cart2 .mini-cart-icon {
  background: #05b0bd;
}
.extra-link10 a {
  color: #05b0bd;
}
.extra-link10 a:hover {
  border-color: #05b0bd;
  color: #fff;
  background: #05b0bd;
}
.btn-eye.eye-white::before {
  color: #05b0bd;
}
.newsletter-form input[type="submit"].bg-color {
  background: #05b0bd;
}
.back-to-top {
  background: #191d3d;
  border: 2px solid #05b0bd;
  color: #191d3d !important;
}
.back-to-top::after {
  background: #05b0bd;
}
.title-tab2 ul li.active a {
  background: #191d3d;
  color: #05b0bd;
}
.owl-theme.arrow-style2 .owl-controls .owl-buttons div {
  background: #191d3d;
}
.owl-theme.arrow-style2 .owl-controls .owl-buttons div:hover {
  background: #05b0bd;
}
.footer2.footer .title-footer,
.footer2.footer .title-footer span {
  color: #191d3d;
}
.footer.footer2 .newsletter-form > label {
  color: #191d3d;
}
.footer.footer2 .footer-box a:hover {
  color: #05b0bd;
}
.footer.footer2 .footer-box .readmore {
  color: #191d3d;
}
.footer.footer2 .footer-box .readmore:hover {
  color: #05b0bd;
}
.footer.footer2 .newsletter-form input[type="submit"] {
  background: #191d3d;
}
.footer.footer2 .newsletter-form input[type="submit"]:hover {
  background: #05b0bd;
}
.footer.footer2 .copyright > a {
  color: #191d3d;
}
.footer.footer2 .copyright > a:hover {
  color: #05b0bd;
}
.footer.footer2 .footer-menu a:hover {
  color: #05b0bd;
}
.footer.footer2 .back-to-top {
  border-color: #191d3d;
  background: #fff;
}
.footer.footer2 .back-to-top::after {
  color: #05b0bd;
  background: #191d3d;
}
.access4.style-dark .access-info > span {
  color: #05b0bd;
}
.access4.style-dark li:hover {
  background: #05b0bd;
}
.adv-info3 .btn-eye.bg-color2 {
  background: #191d3d;
  color: #fff;
}
.adv-info3 .btn-eye.bg-color2:hover {
  background: #05b0bd;
}
.top-header5 .top-info3 li a:hover {
  color: #05b0bd;
}
.btn-eye.bg-color:hover {
  background: #191d3d;
}
.main-nav.main-nav5 > ul > li:hover > a {
  color: #191d3d;
}
.search-form.search-form5.search-form2::after {
  color: #05b0bd;
}
.inner-banner-info5 .btn-eye.bg-white::before {
  color: #191d3d;
}
.title-tab5 ul li.active a {
  color: #fff;
  background: #05b0bd;
  border-color: #05b0bd;
}
.footer.footer2.footer4 .copyright > a {
  color: #05b0bd;
}
.footer.footer2.footer4 .newsletter-form input[type="submit"]:hover {
  background: #05b0bd;
}
.footer.footer2.footer4 .title-footer span {
  color: #05b0bd;
}
.footer.footer2.footer4 .footer-box .readmore {
  color: #05b0bd;
}
.info-phone6 .btn-eye.bg-white:hover {
  background: #191d3d;
}
.item-product10.style2:hover .product-info::before {
  background: #05b0bd;
}
.banner-adv.banner-ads6 .banner-info h2.title48 {
  border-bottom: 1px solid #05b0bd;
}
.social-nav4 a:hover {
  background-color: #05b0bd;
  border-color: #05b0bd;
}
.info-cart4 > li > a > span {
  color: #05b0bd;
}
.info-cart4 .mini-cart1 .mini-cart-icon {
  color: #05b0bd;
}
.item-service4.table .service-icon a {
  border: 1px dashed #05b0bd;
  color: #05b0bd;
}
.item-service4.table .service-icon a:hover {
  background: #05b0bd;
  color: #fff;
}
.smart-search4 .smart-search-form::after {
  color: #05b0bd;
}
@media (max-width: 767px) {
  .main-nav.main-nav3 .toggle-mobile-menu span,
  .main-nav.main-nav3 .toggle-mobile-menu::before,
  .main-nav.main-nav3 .toggle-mobile-menu::after {
    background: #05b0bd;
  }
}
